*
!./*
!*.*
pacct.txt
out_*.txt
dedup.txt
dup_file.txt
race_file.txt
race_write.txt
non_block.txt
text_*.txt
file.hole
bar
foo
*.trace
*.out
*.o
*.obj
*.exe
*.file
*.bin
*.swp
*.swo
*.gch
*.patch
*.so
*.a
*.o
